* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100;
    height: 95vh;
}

.carousel-inner::before,
.carousel-inner::after,
.carousel-control-prev,
.carousel-control-next {
    background: none !important;
    box-shadow: none !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none !important;
}

.carousel-item {
    background: none !important;
}

.carousel-control-prev,
.carousel-control-next {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    width: 5%;
    /* Reduce the clickable area width if you want */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none !important;
    /* removes the arrow icons */
}

.small-img {
    width: 60%;
    /* Adjust as needed */
    max-width: 300px;
    border-radius: 20px;
    transition: 0.4s ease;
}

.small-img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}